#app {
display: flex;
align-items: center;
flex-direction: column;
text-align: center;
background-color: #359967ce;
height: 100vh;

}
.header{
    padding-top: 100px;
}
.about{
    width: 45em;
    display: flex;
    justify-self: center;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 4px 8px black;
}
.about-photo{
    max-width: 300px;
    max-height: 300px;
    margin: 10px 20px 10px 10px;
    border-radius: 5px;
}
.about-description{
    max-width: 400px;
    margin: 20px 0px 20px 20px;
    text-align: left;
}
