#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.navbar a:link, .navbar a:visited {
    color: rgba(255, 255, 255, 0.466);
    text-align: center;
    text-decoration: white;
    font-size: 2rem;
    padding-top: 0;
}
.navbar a:hover{
    color: white;
}
.header{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.greeting{
    text-align: center;
    max-width:850px;
    margin: 0px 15px 100vh 15px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.61);
    color: white;
    border-radius: 5px;
}
.about, .projects-container {
    text-align: center;
    max-width:1000px;
    margin: 30px 15px 40px 15px;
    padding: 15px;
    background-color: rgba(27, 27, 27, 0.61);
    color: white;
    border-radius: 5px;
}
.about h4{
    align-self: flex-start;
    margin-left: 6px;
    margin-bottom: 0;
}
.about .details{
    background-color: rgba(0, 0, 0, 0.315);
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
}
.about .card-img{
    border: solid 5px rgba(27, 27, 27, 0.233);
    border-radius: 200px;
}
.about .img-square-wrapper{
    max-width: 250px;
    max-height: 250px;
}
.about .card-text{
    font-size: 1rem;
    text-align: left;
    margin-left: 0.5rem;
}
.education-container{
    max-width: 100%;
}
.education-container h4, .certifications h4, .projects h4{
    text-align: left;
    padding-top: 25px;
}
.about .certifications{
    padding: 0;
}
.certifications .project-card{
    height:550px;
}
.education-container .project-card{
    max-height: 300px;
}
.education-container .card-img-top{
    max-width: 300px;
    margin: 5px;
}
.university{
    margin-top: 10px;
}
.university .card{
    display: flex;
    flex-direction: row;
}
.my-name{
    font-size: 1.5rem;
}
.my-description{
    font-size: 1.2rem;
}
.projects .project-card, .about .project-card, .details{
    border: solid 2px rgba(27, 27, 27, 0.205);
    border-radius: 5px;
}
.projects{
    padding: 0;
}
.projects .card-img-top{
    padding:5px;
}
.projects-header{
    margin: 10px 15px 0px 15px;
    border-radius: 5px;
}
.project-card{
    border:rgba(51, 51, 51, 0.904) solid 5px;
    background-color: rgba(0, 0, 0, 0.315);
    color: white;
    border-radius: 5px;
    box-shadow: 0.1em 0.2em 0.4em black;
    height: 570px;
}
.project-card .card-img-top{
    border-radius: 5px;
}
.project-card .card-body{
    position: relative;
}
.certifications .card-body{
  overflow: hidden;
  text-overflow: ellipsis;
}
.project-card .card-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-footer .text-muted{
    margin-left: 10px;
}
.portfolio{
    height:auto;
    max-width: 100%;
    margin-top: 20px;
}
.portfolio .card-text{
    padding-bottom: 20px;
}
.projects .card-title{
    text-align: center;
}
.bg-transparent:focus {
    outline: none;
    box-shadow: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #997080;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(39, 39, 39, 0.904);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #997080;
  }

.footer-container{
    position: relative;
    bottom: 0;
    width: 100%;
    height: auto;
  }
.footer{
    position: relative;
    width: 100%;
    background-color: rgba(51, 33, 38, 0.61);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.contact{
      display: flex;
      justify-content: center;
      align-items: center;
      color: black;
      position: absolute;
  }
.contact a{
margin-right: 50px;
text-decoration: none;
font-weight: bold;
color: white;
}
@media screen and (max-width: 825px){
    .about{
        margin: 10px;
    }
    .about .card-body{
        flex-direction: column-reverse;
        align-items: center;
    }
    .education-container .project-card{
        max-height: 320px;
    }
    .about .card-text{
        padding: 0.5em;
        padding-bottom: 1em;
    }
    .certifications .project-card{
        height: 500px;
    }
}
@media screen and (max-width: 780px){
    #content p{
        font-size: 16px;
    }
    .university .card{
        flex-direction: column;
    }
    .university{
        height: 520px;
    }
    .university .card-img-top{
        align-self: center;
        height: 100%;
        border: solid  rgba(51, 51, 51, 0.904);
        border-radius: 5px;
    }
    .university .project-card, .about .card-body{
        background-color: rgba(0, 0, 0, 0);
        border: none;
    }
    .certifications .project-card{
        height: 490px;
    }
    .education .titu{
        height: 550px;
    }
}
@media screen and (max-width: 644px){
    .navbar a:link, .navbar a:visited{
        font-size: 1.2rem;
    }
    .education .titu{
        height: 590px;
    }
    .footer-container{
        height: auto;
    }
    .footer{
        height: 150px;
      }
    .contact{
        flex-direction: column;
      }
    .contact a{
        margin-right: 0px;
    }
}
@media screen and (max-width: 575px){
    .navbar a:link, .navbar a:visited{
        font-size: 0.6rem;
    }
    .certifications .project-card{
        height: 560px;
    }
    .projects .project-card{
        height: 600px;
    }
    .projects .portfolio{
            max-height: 350px;
    }
    .education .titu{
        height: 620px;
    }
    .education .faculty{
        height: 570px;
    }
    .project-card{
        background-color: rgba(0, 0, 0, 0.315);
    }

}
@media screen and (max-width: 470px){
    .education .titu{
        height: 640px;
    }
    .education .faculty{
        height: 600px;
    }
}
@media screen and (max-width: 415px){
    .certifications .project-card{
        height: 480px;
    }
    .projects .project-card{
        height: 550px;
    }
    .projects .portfolio{
            max-height: 410px;
    }
    .education .titu{
        height: 660px;
    }
    .education .faculty{
        height: 620px;
    }
}
@media screen and (max-width: 399px){
    .education .titu{
        height: 690px;
    }
    .education .faculty{
        height: 650px;
    }
}
@media screen and (max-width: 375px){
    .certifications .project-card{
        height: 450px;
    }
    .projects .project-card{
        height: 550px;
    }
    .projects .portfolio{
            max-height: 450px;
    }
    .education .titu{
        height: 710px;
    }
    .education .faculty{
        height: 730px;
    }
}
@media screen and (max-width: 330px){
    .projects .portfolio{
        max-height: 610px;
    }
    .education .titu{
        height: 750px;
    }
    .education .faculty{
        height: 740px;
    }
    .contact-social{
        display: none;
        }
    .footer{
         height: 70px;
    }
}
@media screen and (max-width: 280px){
    .certifications .project-card{
        height: 500px;
    }
    .projects .project-card{
        height: 560px;
    }
    .projects .portfolio{
            max-height: 700px;
    }
    .education .titu{
        height: 800px;
    }
    .education .faculty{
        height: 820px;
    }
} 