#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* .navbar{
    position: fixed;
    right: 15px;
    padding: 0;
}
.nav{
    display: flex;
    flex-direction: column;
}
.navbar a:link, .navbar a:visited {
    color: rgba(255, 255, 255, 0.466);
    text-align: center;
    text-decoration: white;
    font-size: 3em;
    margin:0;
    padding: 0;
  } */
.app{
display: flex;
align-items: center;
flex-direction: column;
}
.about{
    text-align: center;
    max-width:850px;
    margin: 0px 15px 53vh 15px;
    padding: 15px;
    background-color: rgba(51, 51, 51, 0.904);
    color: white;
    border-radius: 5px;
}
.about .card-body{
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: row-reverse;
}
.about .card-img{
    margin-top: 5px;
    border: solid 5px rgba(27, 27, 27, 0.233);
    border-radius: 200px;
}
.my-name{
    font-size: 1.5rem;
}
.about .img-square-wrapper{
    max-width: 250px;
    max-height: 250px;
}
.my-description{
    font-size: 1.2rem;
}
.about .card-text{
    font-size: 1rem;
    text-align: left;
    margin-left: 0.5rem;
}
.project-card{
    border:rgba(51, 51, 51, 0.904) solid 5px;
    background-color: rgba(51, 51, 51, 0.904);
    color: white;
    border-radius: 5px;
    box-shadow: 0.1em 0.2em 0.4em black;
    height: 560px;
}
.project-card .card-img-top{
    border-radius: 5px;
}
.project-card .card-body{
position: relative;
}
.project-card .card-footer{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-footer .text-muted{
    margin-left: 10px;
}
.portfolio{
    height:auto;
    max-width: 100%;
    margin-top: 20px;
}
.portfolio .card-text{
    padding-bottom: 20px;
}
.portfolio .card-title{
    text-align: center;
}
.bg-transparent:focus {
    outline: none;
    box-shadow: none;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #997080;
  }
  ::-webkit-scrollbar-thumb {
    background: rgba(39, 39, 39, 0.904);
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #997080;
  }
@media screen and (max-width: 810px){
.social-media .h2{
    height: 20px;
    width: 20px;
    margin:0px;
    padding: 0px;
}
    .about{
    margin: 10px;
}
.about .card-body{
    flex-direction: column-reverse;
    align-items: center;
}
.about .card-text{
    max-width: 500px;
    padding: 0.5em;
    padding-bottom: 1rem;
    font-size: 0.8rem;
}
}
/* @media screen and (max-width: 644px){

    .about-photo{
        flex-direction: column;
        max-width: 40em;
        max-height: 40em;
    }
    .about-description{
        max-width: 100%;
        max-height: 50em;
    }
    
}
@media screen and (max-width: 414px){
    .about-photo{
        max-width: 23em;
    }
}

@media screen and (max-width: 375px){
    .about-photo{
        max-width: 20em;
        max-height: 20em;
        align-self: center;
    }
    .about-description{
        max-width: 35em;
        max-height: 35em;
        margin: 0em 1em 0em 1em;
        font-size: 0.7em;
    }
    
}
@media screen and (max-width: 320px){
    .about-photo{
        max-width: 18em;
        max-height: 18em;
    }
    .my-name{
        font-size: 1.4em;
    }
    .name-description{
        font-size: 1em;
    }

}
@media screen and (max-width: 280px){
    .about-photo{
        max-width: 15em;
        max-height: 15em;
    }
    .about-description{
        font-size: 0.5em;
    }

} */
